/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

/* Utilities */
@import url('components/banner.css');
@import url('components/container.css');
@import url('components/cards.css');
@import url('components/footer.css');

body {
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
  background-color: white;
}

h1, h2, h3, h4 {
  font-family: "Bebas Neue", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

a {
  text-decoration: none;
}

div {
  display: block;
  unicode-bidi: isolate;
}

/* Custom design below! */
